{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "jest",
    "@typescript-eslint",
    "react"
  ],
  "extends": [
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ]
}
